h1{
    background-color:black
    text color(green)
    display
}
li{
    list-style-type: square;
}
body{
   height: 100%; width: 100%;;
   background-color:blue;
    
}


.sidebar {
    
float: right;

    
display: table-cell;
                    vertical-align: top;
                  
                    float: none;
                background-color: orange;
                width :600px;
                height: 1000px;
                
}
    

  
  .navbar{

    height: 80px;
    width: 100%;
  
    background-color: green;
}
.section {
	float: left; 
  height: 1000px;
    padding: 0%;
    width: 1000px;
    					
}
  

  .footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: red;
    font-size: 30px;
}

.header{
	text-align: center;
    background-color:red;
    font-size: 30px;
}
.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}



